.AddPlane-container {
    padding-top: 1%;
    width: 40vw;
    height: 40vh;
}

.AddPlane-label {
    display: inline-block;
    width: 140px;
    text-align: left;
    /* padding-right: 2%; */
}

.AddPlane-h2 {
    text-align: left;
    padding: 2%;
}

.AddPlane-form {
    text-align: left;
}

.input-block {
    display: flex;
    text-align: left;
    margin: 2%;
}

input[type=text] {
    outline: none;
    background-color: rgb(255, 255, 255);
    width: 40%;
}

#AddPlane-button {
    margin: 5%;
}