#app {
    /* max-height: 100vh;
    max-width: 100vw; */
    background-color: rgb(106, 162, 226);
    font-family: 'Avenir', Arial, Helvetica;
    text-align: center;
    color: rgb(255, 255, 255);
  }