.Dashboard {
    display: flex;
    flex-direction: column;
}

.Dashboard-main {
    display: flex;
    padding: 2%;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items:flex-start;
}

.Dashboard-component {
    max-width: 50vw;
    max-height: 80vh;
    border-radius: 5%;
    margin: 1%;
    background-color: rgb(61, 113, 180);
}