.IATA-container {
    display: flex;
    padding: 5%;
    width: 40vw;
    height: 40vh;
    align-items:flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.IATA-h2 {
    text-align: left;
}

.IATA-label {
    display: inline-block;
    width: 120px;
    text-align: left;
}

#IATA-scroll {
    display: block;
    height: 15vh;
}

td, tr {
    color: white;
    text-align: center;
    word-wrap: break-word;
}

table {
    table-layout: fixed;
    width: 36vw;   
}

.IATA-table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36vw;
    padding-top: 5%;
}

.IATA-h2 {
    text-align: left;
    padding: 2%;
}

.IATA-form {
    display: flex;
    text-align: left;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40vw;
}

.IATA-input-block {
    display: flex;
    text-align: left;
    /* margin: 2%; */
}


input[id*="IATA-"] {
    outline: none;
    background-color: rgb(255, 255, 255);
    width: 80%;
}


.IATA-button-div {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-left: 2%;
}

#IATA-button {
    background-color: rgb(19, 129, 37) ;
    border-radius: 4px;
    color: white;
    border: 2px solid #4CAF50; /* Green */
    transition-duration: 0.3s;
}

#IATA-button:hover {
    background-color: #266828; /* Green */
    color: white;
  }

