.Planes-container {
    margin: 5%;
    width: 40vw;
    height: 80vh;
}

.Planes-h2 {
    text-align: left;
    padding: 2%;
}

.Planes-table-container {
    width: 36vw;
}

td, tr {
    color: white;
    text-align: center;
    word-wrap: break-word;
}

.Planes-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table {
    table-layout: fixed;
    width: 36vw;   
}

input[id*="Planes-"] {
    outline: none;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

button[id*="Planes-button"] {
    background-color: rgb(19, 129, 37) ;
    border-radius: 4px;
    color: white;
    border: 2px solid #4CAF50;
    transition-duration: 0.3s;
}

button[id*="Planes-button"]:hover {
    background-color: #266828; /* Green */
    color: white;
  }